@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --darkest-blue: #0d1b2a;
  --dark-blue: #1b263b;
  --medium-blue: #415a77;
  --light-blue: #778da9;
  --lightest-blue: #e0e1dd;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.links {
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 1.2rem;
}

.links:hover {
  color: var(--light-blue);
  transition: all 0.8s ease 0s;
}

.active-class {
}

.navbar-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.main-content {
  width: 100vw;
}

.site-footer {
  background-color: var(--darkest-blue);
  color: var(--lightest-blue);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
}
.footer-container {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.contact-btn {
  background-color: var(--dark-blue) !important;
  border-color: var(--dark-blue) !important;
  border-radius: 25px !important;
  transition: all 0.8s ease 0s;
}

.contact-btn:hover {
  background-color: var(--medium-blue) !important;
  border-color: var(--medium-blue) !important;
  transition: all 0.8s ease 0s;
}

.home-page {
  margin: 2rem;
}

.search-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2.5rem;
}

.search-section h3 {
  color: var(--darkest-blue);
  padding-bottom: 1.4rem;
  font-size: 3.2rem;
}
